<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <form>
        <label for="username">username</label>
        <input type="text"  name = "username" placeholder="enter username"> <br> </br>
         <label for="password">password</label>
        <input type="text"  name = "password"placeholder="enter your password"> <br> </br>
         <!-- <label for="password">Sign up </label> -->
        <!-- <input type="text" placeholder="sign UP"> <br> </br> -->
         <!-- <label for="password">password</label> -->
        <!-- <input type="text" placeholder="sign in"> <br> </br> -->
    </form>
    <form>
        <label for = "gender"><b> gender </b> </label>
        <input type="radio" name ="gender" value="female"> female
        <input type="radio" name ="gender" value="male"> male
         <input type="radio" name ="gender" value="others"> others <br> </br>
         <!-- <label for="D.O.B"> Date of Birth</label> <br> </br>
         <input type="text" placeholder="enter your dob">
         <label for="Father Name">Father Name</label> <br> </br>
         <input type="text" placeholder="enter father name"> -->
    </form>
    <form>
         <label for="Technical Skills"><b>Technical Skills</b></label>  
        <input type="checkbox" name="Technical Skills" value = "C"> C
         <input type="checkbox" name="Technical Skills" value = "C++"> C++
         <input type="checkbox" name="Technical Skills"value = "Java">Java
        <!-- <b><name attribute is used to give a unique name to each input and data will not be sent to the server if the name is not mentioned></b> -->
    </form>
</body>
</html>
